
h1,h2,h3,p,span,.button {
	font-family: 'Nunito', sans-serif;
}

h1,h2,h3,nav span {
	color: #4a4a4a;
}

p {
	line-height: 1.25;
	letter-spacing: 0.5px;
}

p,span {
	color: #767676;
}

a {
	text-decoration: none;
}

/***************************
HEADER & NAVIGATION
***************************/

header {
	display: flex;
	height: 64px;
}

.logo {
	display: flex;
	align-items: center;
	padding-left: 24px;
}

#colmar {
	font-style: bold;
	font-weight: 600;
	padding-left: 5px;
}

#nav-desktop {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding-right: 24px;
}

#nav-mobile {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}

nav span {
	padding: 0 16px;
}

nav span a {
	text-decoration: none;
	color: #000;
}

@media only screen and (max-width: 780px) {
 	
 	#nav-desktop,
 	.logo {
  		display: none;
  	}
}

@media only screen and (min-width: 780px) {
 	
 	#nav-mobile {
  		display: none;
  	}
}

/***************************
BANNER
***************************/

.banner {
	background-color: #d8d8d8;
	display: flex;
}

.banner-image-content img {
	width: 100%;
}

.banner-column-left {
	width: 60%;
	padding: 32px 24px;
	display: flex;
}

.banner-column-right {
	width: 40%;
	display: flex;
}

.banner-text-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 24px;
	width: 90%;
}

.banner-text-content h1 {
	font-size: 3em;
	padding-bottom: 15px;
	font-weight: bold;
}

.banner-text-content p {
	font-size: 1.5em;
	letter-spacing: 1px;
	line-height: 1.2;
	padding: 15px 0;
}

.button a {
	background-color: #4a4a4a;
	padding: 8px 0;
	display: flex;
	justify-content: space-around;
	width: 80%;
	color: white;
	margin-top: 15px;
	font-size: 1.25em;
	transition-property: background-color, color;
	transition-duration: 1s;
}

.button a:hover {
	background-color: #fff;
	color: #4a4a4a;
}

@media only screen and (max-width: 780px) {
 	
 	.banner {
 		flex-direction: column;
 	}

 	.banner-column-left {
 		width: 100%;
 		padding: 0;
 	}

 	.banner-column-right {
 		width: 100%;
 	}

 	.banner-text-content {
 		padding: 32px 16px;
 		width: 100%;
 	}

 	.button a {
 		width: 100%;
 		margin-top: 24px;
 		margin-bottom: 16px;
 	}
}

/***************************
INFO
***************************/

.info {
	display: flex;
	padding: 32px 0;
}

.info-column-left {
	display: flex;
	width: 60%;
	flex-direction: column;
	padding: 0 24px;
}

.info-column-right {
	display: flex;
	width: 40%;
	flex-direction: column;
}

.info-text-content {
	display: flex;
	flex-direction: column;
}

.info-text-content h1 {
	padding: 32px 0 24px 0;
	font-size: 2.5em;
	font-weight: bold;
}

.info-text-content p {
	padding-bottom: 24px;
}

.info-text-content span {
	padding-top: 24px;
}

.info-image-content img {
	width: 100%;
}

.orientation,
.campus,
.guest-lecture {
	display: flex;
	border: 1px solid lightgray;
}

.small-image-content {
	width: 35%;
	padding: 16px 16px;
}

.small-image-content img {
	width: 100%;
}

.small-text-content {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.small-text-content h2,
.small-text-content p,
.small-text-content span {
	padding: 8px 16px;
}

.small-text-content h2 {
	font-size: 1.5em; 
	font-weight: bold;
}

@media only screen and (max-width: 780px) {

	.info-column-right{
		padding-left: 16px;
		padding-right: 16px;
	}
 	
 	.info-column-left,
 	#desktop-info {
 		display: none;
 	}

 	.info-column-right {
 		width: 100%;
 	}

 	.small-image-content {
 		width: 100%;
 		padding: 0;
 	}

 	.small-image-content img {
 		width: 100%;
 		
 	}

 	#mobile-info {
		width: 100%;
	}

 	.small-text-content {
 		width: 100%;
 	}

 	.small-text-content span {
 		padding-bottom: 0;
 	}

 	.info {
 		padding-bottom: 0;
 	}

 	.orientation,
	.campus,
	.guest-lecture {
		flex-direction: column;
		border: none;
		padding-bottom: 64px;
	}

	.orientation h2,
	.campus h2,
	.guest-lecture h2 {
		padding-top: 16px;
	}
}

@media only screen and (min-width: 780px) {
 	
	#mobile-info {
		display: none;
	}

	.guest-lecture {
		background-color: #d8d8d8;
	}
}

/***************************
LEARNING
***************************/

.learning {
	background-color: #eaebec;
	padding-bottom: 32px;
}

.learning-title {
	text-align: center;
	padding: 32px 0;
	font-size: 2.5em;
	font-weight: bold;
}

/***************************
STUDY COURSES
***************************/

.study-courses {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 72px;
}

.course {
	width: 32%;
	padding: 16px 0;
}

.course img {
	width: 100%;
}

.course-text-content {
	background-color: #fff;
	padding: 0 16px 16px 16px;
	height: 150px;

}

.course-text-content h3 {
	padding: 16px 0;
	font-size: 1.5em;
	font-weight: bold;
}

.course-text-content p {
	padding: 8px 0 24px 0;
}

.mobile-courses {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name {
	
	width: 240px;
	padding-bottom: 8px;
}

.mobile-courses h2 {
	padding: 16px 0 24px 16px;
	background-color: #d8d8d8;
	font-size: 1.25em;
	font-weight: bold;
}

.mobile-courses h2 a {
	color: #4a4a4a;
}


@media only screen and (max-width: 780px) {

	.learning {
		background-color: white;
	}
 	
	.study-courses {
		display: none;
	}
}

@media only screen and (min-width: 780px) {
 	
	.mobile-courses {
		display: none;
	}
}

/***************************
THESIS
***************************/

.thesis-title {
	text-align: center;
	flex-direction: column;
	padding: 32px 0;
	font-size: 2.5em;
	font-weight: bold;
}

.thesis-columns {
	display: flex;
}

.thesis-column-left {
	display: flex;
	width: 60%;
	flex-direction: column;
	padding: 0 24px;
}

.thesis-column-right {
	display: flex;
	width: 40%;
	flex-direction: column;
}

.thesis-text-content {
	display: flex;
	flex-direction: column;
	padding-top: 24px;
	padding-bottom: 32px;
}

.thesis-text-content h3 {
	padding-bottom: 8px;
	font-size: 1.5em;
	font-weight: bold;
}

.fisma,
.now-and-then {
	display: flex;
}

.fisma {
	background-color: #d8d8d8;
}

.small-image-content2 {
	width: 35%;
	padding: 16px 16px;
}

.small-image-content2 img {
	width: 100%;
}

.small-text-content2 {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.small-text-content2 h2 {
	font-size: 1.25em;
	font-weight: bold;
	padding-bottom: 8px;
}

.thesis-image-content embed {
	width: 100%;
}

@media only screen and (max-width: 780px) {

	.thesis-column-right,
	.thesis-text-content {
		display: none;
	}

	.thesis-column-left {
		width: 100%;
		padding-bottom: 24px;
	}
}

/***************************
FOOTER
***************************/

footer {
	display: flex;
}

#copyright,
.tp span {
	width: 100%;
	padding: 16px 0;
}

#copyright {
	padding-left: 24px;
}

.tp {
	display: flex;
	justify-content: flex-end;
}

.tp span {
	padding-right: 24px;
}

#fb,
#twitter {
	display: flex;
	align-items: center;
	padding: 0 8px;
}

@media only screen and (max-width: 780px) {

	.tp,
	hr {
		display: none;
	}
}








